html, button, input, select, textarea,
.pure-g [class *= 'pure-u'] {
    /* Set your content font stack here: */
    font-family: 'Antic Slab', serif;
    color: $body-text-color;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: rgb(102, 186, 94);
}

.pure-menu-heading {
  text-transform: none;
}
