.custom-menu-wrapper
  .pure-menu.custom-menu.custom-menu-top
    a.pure-menu-heading.custom-menu-brand(href='#') Kevin and Katy
    a#toggle.custom-menu-toggle(href='#')
      s.bar
      s.bar
  #tuckedMenu.pure-menu.pure-menu-horizontal.pure-menu-scrollable.custom-menu.custom-menu-bottom.custom-menu-tucked
    .custom-menu-screen
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href='#') Home
      li.pure-menu-item
        a.pure-menu-link(href='#') About Us
      li.pure-menu-item
        a.pure-menu-link(href='#') The Proposal
      li.pure-menu-item
        a.pure-menu-link(href='#') Photos
      li.pure-menu-item
        a.pure-menu-link(href='#') The Wedding
      li.pure-menu-item
        a.pure-menu-link(href='#') Accommodations
      li.pure-menu-item
        a.pure-menu-link(href='#') Registry
