.custom-menu-wrapper
  .pure-menu.custom-menu.custom-menu-top
    a.pure-menu-heading.custom-menu-brand(href=contents['index.md'].url) Kevin and Katy
    a#toggle.custom-menu-toggle(href='#')
      s.bar
      s.bar
  
  #tuckedMenu.pure-menu.pure-menu-horizontal.pure-menu-scrollable.custom-menu.custom-menu-bottom.custom-menu-tucked
    .custom-menu-screen
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href='/')#index Home
      li.pure-menu-item
        a.pure-menu-link(href='/about')#about About Us
      li.pure-menu-item
        a.pure-menu-link(href='/proposal')#proposal The Proposal
      li.pure-menu-item
        a.pure-menu-link(href='/photos')#photos Photos
      li.pure-menu-item
        a.pure-menu-link(href='/wedding')#wedding The Wedding
      li.pure-menu-item
        a.pure-menu-link(href='/rsvp')#rsvp RSVP
      li.pure-menu-item
        a.pure-menu-link(href='/accommodations')#accommodations Accommodations
      li.pure-menu-item
        a.pure-menu-link(href='/registry')#registry Registry
